version: "0.1.0"
services:
  goblin_bot:
    container_name: "goblin-bot"
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: ./.env
    entrypoint: /goblin
    depends_on:
      - mongodb

  mongodb:
    container_name: "goblin_mongo"
    image: mongo:latest
    env_file: ./.env_mongo
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db
    
volumes:
  mongodb_data_container:

